* {
    box-sizing: border-box;
  }

html {
  scroll-behavior: smooth; 
  }
main {
  margin-bottom: auto; 
}

body {
font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
    }

.bodyconteiner {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
  }
.container {
  width: 1440px;
  margin: 0 auto;
  min-height: 50px;
  }
.displayed {     
  margin-left: auto; 
  margin-right: auto; 
  
}

header {
  width: 100%;
  height: 5%;
  background: #EDF2EC;
}
.navbar {
  width: 84.72222222222223%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;

}
.logo {
  width: 6.489344262295082%;
  display: flex;
  align-items: center;
  height: 100%;
  
}
.nav {
width: 40%;
height: 100%;
display: flex;
justify-content: flex-end;

}
.nav-link{
  font-family: Inika;
  font-weight: 400;
  font-size: 16px;
  margin-left: 40px;
  line-height: 50px;
  color: #010201;
}
.nav-linkplants{
  font-family: Inika;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
}
.nav-linkHome{
  font-family: Inika;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  color: #E06733;
}

.inline {
display:inline-block;
}

.welcome {
  width: 100%;
  height: 100%;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-left: 109px;
  padding-right: 109px;
  display: flex;
  justify-content: center;
  background: #EDF2EC;
  
}
.welcomesection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.leafs{
  height: 100%;
  width: 36.726677577741405%;
  
}
.Welcomesection{
  height: 83.53808353808354%;
  width: 44%;
  
}
h1{
  font-family: Inter;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}
p {
font-family: Inter;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #636060;
}
.colortext {
  color:#499A18; 
}
button {
  margin-top: 35px;
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
}
.learn {
font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
  
}
.about {
  display: flex;
  
  justify-content:space-around;
  background: #FFFFFF;
  border: 0.5rem solid;
}
.service {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center
  width: 100%;
  background: #EDF2EC;
  border: 0.5rem solid;
}
.servicecontent {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
  border: 0.5rem solid;
}
.servicesection {
  justify-content:center;
  width: 30%;
  border: 0.5rem solid;
}

.prices {
  display: flex;
  
  justify-content:space-around;
  background: #FFFFFF;
  border: 0.5rem solid;
}
.contacts {
  display: flex;
  
  justify-content:space-around;
  background: #EDF2EC;
  border: 0.5rem solid;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: rgb(240, 43, 43);
}
footer {
  width: 100%;
  height: 5%;
  background: #FFFFFF;
  padding: 20px;
}
.section {
  display: flex;
  justify-content: space-around;
  width: 40%;
  border: 0.5rem solid;
}
